<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="manifest" href="~/manifest.json">
    <link rel="icon" type="image/png" href="~/favicon-96x96.png" />
    <title>@ViewData["Title"] - myBCA</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@@2/css/pico.yellow.min.css" />
    @await RenderSectionAsync("Head", required: false)
</head>

<body>
    <main class="container">
        @await RenderSectionAsync("Navbar", required: false)
        @RenderBody()
        <footer>
            Made by Big Tommy • <a href="https://github.com/xtt28/mybca" target="_blank">Star on GitHub</a> •
            SPDX-License-Identifier: AGPL-3.0-or-later
        </footer>
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
