<nav>
    <ul>
        <li><strong>myBCA</strong></li>
    </ul>
    <ul>
        <!-- TODO: Fix link. -->
        <li><a asp-controller="NewTab" asp-action="AddToBrowser" target="_blank">Add to browser</a></li>
    </ul>
</nav>