@{
    ViewData["Title"] = "Add to browser";
    ViewData["Description"] = "The ultimate new tab page for BCA students. Get instant access to bus data, lunch menus, and quick links.";
}

@section Navbar {
    @await Html.PartialAsync("_NewTabNavbar")
}

<h1>Adding myBCA to your browser</h1>
<section>
    <h2>Chrome/Edge</h2>
    <li>
        Install
        <a href="https://chromewebstore.google.com/detail/Custom%20New%20Tab%20URL/mmjbdbjnoablegbkcklggeknkfcjkjia?hl=en-US" rel="nofollow" target="blank">this</a>
        Chrome extension.
    </li>
    <li>Switch back to the tab with the myBCA home page open</li>
    <li>Copy the link in your browser address bar (⌘C for Mac, Ctrl+C for Windows)</li>
    <li>Open a new tab in your browser. You should see "Custom New Tab URL" pop up.</li>
    <li>Select "Options page"</li>
    <li>Click the checkbox next to "Enabled" to enable the extension.</li>
    <li>Paste the link you copied into the "URL or local file path" box</li>
    <li>Press Save</li>
</section>
<section>
    <h2>Safari (macOS)</h2>
    <ol>
        <li>Switch back to the tab with the myBCA home page open</li>
        <li>Copy the link in your browser address bar (⌘C)</li>
        <li>In the top menu bar, go to Safari -> Settings...</li>
        <li>Change the option "New windows open with..." to "Homepage"</li>
        <li>Change the option "New tabs open with..." to "Homepage"</li>
        <li>Paste the link you copied into the "Homepage" box (⌘V)</li>
    </ol>
</section>