@using MyBCA.Server.Models.NewTab
@model MyBCA.Server.Models.NewTab.NewTabTemplate

@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "The ultimate new tab page for Bergen County Academies (BCA) students. Get instant access to bus data, lunch menus, and quick links.";
}

@section Navbar {
    @await Html.PartialAsync("_NewTabNavbar")
}

<h1>👋 Hello there.</h1>
@await Html.PartialAsync("_SearchBar")

@if (Model.TownList is IEnumerable<string> towns)
{
    <hr />
    <details>
        <summary>Change your town</summary>
        <form asp-controller="NewTab" asp-action="SetTown" method="post">
            <select name="name" required>
                <option selected disabled value="">Choose your town...</option>
                @foreach (var town in towns)
                {
                    <option value="@town">@town</option>
                }
            </select>
            <button type="submit">Let's go!</button>
        </form>
    </details>
}

<hr />
<div class="grid">
    <div>
        @await Html.PartialAsync("_LinksCard", Model.LinksData)
        @if (Model.BusData is not null)
        {
            @await Html.PartialAsync("_BusCard", Model.BusData)
        }
    </div>
    <div>
        @if (Model.LunchData is not null)
        {
            @await Html.PartialAsync("_LunchCard", Model.LunchData)
        }
    </div>
</div>