package components

import "github.com/xtt28/mybca/internal/bus"

templ busCard(town string, loc string) {
	<article>
		<header>Bus location for { town }</header>
		Your bus is parked in <mark>{ loc }</mark>
		<footer>
			<a href={ bus.BCABusSheetURL } target="_blank">Source (Google Sheets)</a>
		</footer>
	</article>
}
